.drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.drawing-canvas {
  border: 1px solid #ccc;
  border-radius: 8px;

  /* Disable browser default touch behaviour as, for example, we do not want scroll behaviour whilst drawing on the canvas when on mobile */
  touch-action: none;
}

.clear-button {
  padding: 8px 16px;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #dc2626;
}
