.drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.drawing-canvas {
  border: 1px solid #ccc;
  border-radius: 8px;

  /* Disable browser default touch behaviour as, for example, we do not want scroll behaviour whilst drawing on the canvas when on mobile */
  touch-action: none;
}

.clear-button {
  padding: 8px 16px;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #dc2626;
}

.about-content {
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.about-content h2 {
  margin-bottom: 8px;
}

.about-content p {
  line-height: 1.6;
  font-weight: 400;
  margin: 1rem 0;
  text-align: left;
}

.about-content aside {
  font-size: 0.9em;
  color: #666;
  margin-top: 1.5rem;
  text-align: left;
}